.datePickerWrapper {
    display: flex;
    flex-direction: column; /* чтобы label был сверху */
    gap: 4px; /* расстояние между label и DatePicker */
}

.label {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #8D9094;
    margin-bottom: 4px;
}

.requiredIndicator {
    color: red;
    margin-left: 4px;
}

.datePicker {
    width: 262px;
    min-height: 36px;
    padding: 16px 24px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid silver;
    border-radius: 2px;
    background-color: #333333;
    color: #FFFFFF;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    cursor: pointer;
}

.datePicker:focus {
    border: 2px solid #2F68CC;
}

.wrapperCalendar {
    position: absolute;
    left: -131px;
    top: -3px;
    width: 300px;
    padding: 16px 24px;
    display: flex;
    justify-content: center;
    background-color: #171717;
    border: 1px solid #333333;
    overflow: hidden;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border-radius: 8px;
    color: #FFFFFF;
}

.popoverContent {
    z-index: 50;
    background-color: #171717;
    border-radius: 12px;
    padding: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    max-width: 100vw; /* чтобы не выходил за экран */
    overflow: auto;
}


/* Сегодняшний день */
/*.rdpDay_today {*/
/*    color: #2563eb;*/
/*    font-weight: bold;*/
/*}*/

.rdpDay_selected {
    background-color: #2563eb;
    color: white;
    font-weight: 600;
    border-radius: 50%;
}


/* Заблокированный день */
.rdpDayDisabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* Название месяца (Май 2025) */
.rdpCaptionLabel {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    margin-left: 32px;
    color: #FFFFFF;
}




.weekendDay {
    color: #ef4444;
}



.error {
    border: 1px solid red;
}

.focused {
    outline: 2px solid #2684ff;
}


.errorMessage {
    color: red;
    font-size: 12px;
    margin-top: 4px;
}


.rdpNav {
    position: absolute;
    inset-block-start: 0;
    inset-inline-end: 0;
    display: flex;
    align-items: center;
}

.rdpButton_next svg,
.rdpButton_previous svg {
    fill: white !important;
}

.rdpButton_next,
.rdpButton_previous {
    background-color: #444;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.rdpButton_next:hover,
.rdpButton_previous:hover {
    background-color: #666;
}




/* Пример изменения стилей для дней в диапазоне */
.rdpDay_inRange {
    background-color: #0146f3 !important; /* Цвет фона для дней в диапазоне */
    color: white !important; /* Цвет текста для дней в диапазоне */
    border-radius: 0;
}

.rdpDay_first {
    background-color: #0146f3 !important; /* Цвет фона для первого дня диапазона */
    color: white !important; /* Цвет текста для первого дня диапазона */
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.rdpDay_last{
    background-color: #0146f3 !important;
    color: white !important;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}
