.dateText {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.datePicker {
    width: 262px;
    min-height: 36px;
    padding: 16px 24px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid silver;
    border-radius: 2px;
    background-color: #333333;
    color: #FFFFFF;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    top: 50px;
    left: 50px;
    cursor: pointer;
}

.datePicker:focus {
    border: 2px solid #2F68CC;
}

.wrapperCalendar {
    position: absolute;
    left: -131px;
    top: -3px;
    width: 300px;
    padding: 16px 24px;
    display: flex;
    justify-content: center;
    background-color: #171717;
    border: 1px solid #333333;
    overflow: hidden;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border-radius: 8px;
    color: #FFFFFF;
}

.popoverContent {
    z-index: 50;
    background-color: #171717;
    border-radius: 12px;
    padding: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    max-width: 100vw; /* чтобы не выходил за экран */
    overflow: auto;
}


/* Сегодняшний день */
.rdpDay_today {
    color: #2563eb;
    font-weight: bold;
}

.rdpDay_selected {
    background-color: #2563eb;
    color: white;
    font-weight: 600;
    border-radius: 50%;
}


/* Заблокированный день */
.rdpDayDisabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* Название месяца (Май 2025) */
.rdpCaptionLabel {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    margin-left: 32px;
    color: #FFFFFF;
}



/* Стили для выходных */
.weekendDay {
    color: #ef4444; /* Красный цвет */
}



.error {
    border: 1px solid red;
}

.focused {
    outline: 2px solid #2684ff;
}


.errorMessage {
    color: red;
    font-size: 12px;
    margin-top: 4px;
}


.rdpNav {
    position: absolute;
    inset-block-start: 0;
    inset-inline-end: 0;
    display: flex;
    align-items: center;
}

.rdpButton_next,
.rdpButton_previous {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4C4C4C;
    border: none;
    cursor: pointer;
}

.rdpButton_next svg,
.rdpButton_previous svg {
    width: 20px;
    height: 20px;
    fill: #FFFFFF;
}

.rdpButton_next:disabled,
.rdpButton_previous:disabled {
    cursor: revert;
    opacity: 0.5;
}


